@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --accent-teal: #296065;
  --accent-grey: #3E3D4E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}
